body {
    background-image: url(/images/background.jpg);
    background-size: cover;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content {
    width: 1200px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
