.league {
    padding: 5px;
    border-top: 1px solid black;
}

.leagues-list {
    width: 100%;
}

.league:hover {
    background-color: #EEEEEE;
}

.league:first-child {
    border-top-style: none;
}

.season {
    font-size: 0.8em;
}

.name {
    font-size: 1.3em;
}
